body {
    background-color: #FFFFFF;
   }

.content {
    padding: 40px;
    height: 300px;
    width: 700px;
    margin: 0 auto;
}   

h1 {
    color: #202020;
}

h2 {
    color: mediumseagreen;
}

.button {
    color: mediumseagreen;
    background-color:  black;
    padding: 15px 34px;
    text-align: center;
    font-size: 35px;
    margin: 4px 2px;
    border: none;
}